* {
  box-sizing: border-box;
  font-size: calc(3px + 2vmin);

}
:root{
  --lightgray: #667085;
  --primarygreen: #3C8C30
}

body {
  margin: 0 auto;
  font-family: 'sans-serif' , 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App {
  width: clamp(450px, 100%, 1440px);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.Dashboard{
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.NavBar{
  width: clamp(200px, 100%, 250px);
  height: 100%;
  padding-top: 5rem;
  border-right: 1px solid #EDEFF3;
  background: #FFF;
}
.navElement{
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
  margin-bottom: 0.5rem;
}
.navElement button{
  background-color: transparent;
  color: var(--lightgray);
  border: none;
  cursor: pointer;
  padding: 0.5rem;

}
#activeNav{
  border-radius: 8px;
    background: rgba(239, 254, 237, 0.62);
}
.dashDisplay{
  flex: 1;
  padding: 10px;
  padding-top: 5rem;
  
}
.homeBoard{

}

.summaryBoards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.summaries{
  height: 10rem;
  background-color: rgba(239, 254, 237, 0.62);
  border-radius: 10px;
  flex: 0.5 0.5 18rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.react-calendar{
 
  color:rgba(239, 254, 237, 0.1);
}
.react-calendar__navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.react-calendar__navigation button{
  color: #3C8C30;
  border: none;
  padding: 10px;
}
.react-calendar__month-view__days button{
  background-color: rgba(239, 254, 237, 0.62);
  border: 1px solid #3C8C30;
  border-radius: 5px;
}
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day {
  background-color: #3C8C30;
  color: #FFF;
}
.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
  background-color: #F5F5F6;
  color: #344054;
}
.react-calendar__month-view__weekdays__weekday{
  color: #3C8C30;

}
.eventTable{
  width: 100%;
  margin-top: 2rem;

}
.orderTable{
    width: 100%;
}
.orderTable tr{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}
.eventTable th, .orderTable th{
  color: #3C8C30;
  border-right: 1px solid #EDEFF3;

}

.eventTable thead, .orderTable thead{
  color: #3C8C30;
  font-weight: 700;
}

.eventTable td, .orderTable td{
  padding: 10px;
  color: #667085;
  text-align: center;
}
.orderTable tr #tracking{
  width: clamp(100px,100%, 150px);
}

.orderTable tr #products {
  width: clamp(250px, 100%, 350px);
}
.orderTable tr #client {
  width: clamp(150px, 100%, 200px);
}

.orderTable tr #address {
  width: clamp(200px, 100%, 250px);
}
.orderTable tr #status {
  flex: 1;
}

